.help-button {
  display: flex;
  margin-top: 1em;
  margin-left: 1.5em;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5em 0.2em;
  cursor: pointer;
  float: left;
  font-size: 0.7em;
}

.filter-button {
  display: flex;
  margin-top: 1em;
  margin-right: 1.5em;
  background-color: white;
  border-radius: 25px;
  padding: 0.8em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 0.7em;
}

.issues-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0 1.5em 1em;
  border-radius: 25px;
  background-color: #fff;
  zoom: 70%;
}

.issue-button {
  font-size: 1.15em !important;
  padding-top: 0.8em !important;
}

.dtgs-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border-radius: 25px;
  margin: 0 1em;
  min-height: 70vh;
}

.dtg-box {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.dtg-box.selected {
  background-color: #ddd;
}

.dtg-box:hover {
  background-color: #ddd;
}

.dtg-box:active {
  background-color: #aaa;
}

.selected-dtg-box {
  margin-top: 5em;
  font-weight: bold;
  text-align: center;
}

.Mui-selected {
  color: white !important;
  background-color: #000 !important;
  border-radius: 25px !important;
  border: none;
}

.css-1aquho2-MuiTabs-indicator {
  display: none;
}
