.dtg-container {
  background-color: #fff;
  border-radius: 25px;
  margin: 0 1em;
  min-height: 80vh;
}

.issues-container {
  margin: 1em;
  border-radius: 25px;
  background-color: #fff;
}

.Mui-selected {
  color: white !important;
  background-color: #000 !important;
  border-radius: 25px !important;
  border: none;
}

.css-1aquho2-MuiTabs-indicator {
  display: none;
}
